
@font-face {
    font-family: Oswald;
    src: url('fonts/oswald/Oswald-Regular.ttf');
}

body {
  font-family: Oswald;
  color: $text-color;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.2rem;
}
